<div class="jumbotron jumbotron-fluid">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1 class="display-4">Mongo News Scraper</h1>
        <p class="lead">New York Times Edition</p>
    </div>
</div>