{{> header}}

<div id="loader"></div>
<div style="display:none" ; id="main-content" class="animate-bottom">
    {{> jumbotron}}

    {{#if pageType.main}}
    {{> articles}}
    {{else}}
    {{> saved}}
    {{/if}}

</div>
{{> footer}}